
        body{
            background-color:peru;
        }
        h1{
            font-family:'Alegreya', serif;
            color:maroon; 
        }
        h2{
            font-family:'Alegraya', serif;
        }
        h4{
            font-family:'Alegraya', serif;
        }
        p{
            font-family:'Bree Serif', serif;
        }
        a{
            color:maroon;
        }
        .first-image{
            width:25%;
            height:25%;
            border-color:peru;
            border-width:5px;
            border-style:solid;
        }
        .larger-image2{
            width: 25%;
            height:25%;
            border-color:peru;
            border-width:5px;
            border-style:solid;

        }
        .img1border{
            border-color:peru;
            border-width:5px;
            border-style:solid;
        }
        .center-text{
            text-align:center;
        }
        .thin-black-border{
            border-color:burlywood;
            border-width:10px;
            border-style:solid;
            border-radius:10px;
        }
        ol{
            font-family:'Alegreya';
            color:maroon;
        }
        